<div id='newusers-laundry' class='newusers-laundry'>
    <div id='rectangle86' class='rectangle86'>
    </div>
    <div id='rectangle79' class='rectangle79'>
    </div>
    <div id='rectangle80' class='rectangle80'>
    </div>
    <div id='go-laundry' class='go-laundry'>
        Go-Laundry</div>
    <div id='adminid:3392010' class='adminid:3392010'>
        Admin ID: 3392010</div>
    <img id='menu' class='menu'
        src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACdSURBVHgB7dhBDQIxEIXhV4KAlbBSVgpOsIAEkIACshJwUBysgzICytzYvGz/L2nm8E5zaKcZCQAAAP9SfgWttUuUWV5qKeXeC7JGXlEWeVmjkaUXnHQQh2nknGTPOB95qQIwtmwgzvKzxUDcegGT3Q2NuMnuyBRlkpm4I1UAxpW9Wlf5LR/e8WrdegFfFDdDLB8ecVZ5qQIAAMDuvspMJtLDR4pSAAAAAElFTkSuQmCC' />
    </img>
    <div id='newusers2' class='newusers2'>
        New Users</div>
    <img id='arrowback' class='arrowback'
        src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADHSURBVHgB7dnhDYIwEIbhqxM4iis4iiM4iW6gI7iBjuAmssF5Ri4xhrQkUPJd+Z7kwg/4wRtoQqgIERERMFXdfUYi6yNe/cSM+Ylw8WIGItxZoshEXCUKRqBgBApGoGAECuSINPZC/X4n3W22f6ceNgepq0spdTJV5kks5VK6x82YCBl+ElCKIVEUQ+zdfNphbzP9Ha1ojsV+szlKXfMsdpdZ9MXFCIcxqBiDijGoGINqLTEniUZb+InttIVtBactbPQQEVHz3hMWNfjho/2FAAAAAElFTkSuQmCC' />
    </img>

    <div id='laundryshop' class='laundryshop'>
        Laundry Shop</div>
    <div id='shopname:' class='shopname:'>
        Shop Name:</div>
    <div id='contactnumber:' class='contactnumber:'>
        Contact Number: </div>
    <div id='angdobi' class='angdobi'>
        Ang Dobi</div>
    <div id='-601133920483' class='-601133920483'>
        +601133920483</div>
    <div id='-601133338829' class='-601133338829'>
        +601133338829</div>
    <div id='-07-2201' class='-07-2201'>
        880301-07-2201</div>
    <div id='emailaddress:' class='emailaddress:'>
        Email Address:</div>
    <div id='angdobi20@gmail.com' class='angdobi20@gmail.com'>
        angdobi20@gmail.com</div>
    <div id='address:2' class='address:2'>
        Address:</div>
    <div id='lorongmindenlintang,soloktungrazak,11900sungainibong,pulaupinang'
        class='lorongmindenlintang,soloktungrazak,11900sungainibong,pulaupinang'>
        Lorong Minden Lintang, Solok Tung Razak, 11900 Sungai Nibong, Pulau Pinang</div>
    <div id='addressdetails:' class='addressdetails:'>
        Address Details:</div>
    <div id='no22' class='no22'>
        No22</div>
    <div id='anglimsin' class='anglimsin'>
        Ang Lim Sin</div>
    <div id='viewphoto' class='viewphoto'>
        View Photo</div>
    <div id='businesslicense:' class='businesslicense:'>
        Business License:</div>
    <div id='ownerfullname:' class='ownerfullname:'>
        Owner Full Name:</div>
    <div id='phonenumber:' class='phonenumber:'>
        Phone Number:</div>
    <div id='identificationno:' class='identificationno:'>
        Identification No:</div>
    <div id='rectangle792' class='rectangle792'>
    </div>
    <div id='approve' class='approve'>
        Approve</div>
    <div id='rectangle81' class='rectangle81'>
    </div>
    <div id='reject' class='reject'>
        Reject</div>
</div>