<!DOCTYPE html>
<html>
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% include 'messages.html' %}

<body>
    <center>
        <div>

            <!-- GoLaundry logo center -->
            <div class="image-container">
                <img src="{% static 'img/Go-Laundry.png' %}" alt="Go-Laundry Logo">
            </div>

            <br>

            <!-- background -->
            <div class="image-container">
                <img src="{% static 'img/login.png' %}" alt="white" style="height:500px;border-radius:2%;">


                <form action="{% url 'login' %}" method="post">

                    <!-- Lau Wan Jing: https://www.youtube.com/watch?v=OTmQOjsl0eg&ab_channel=Telusko -- crsf token -->
                    {% csrf_token %}

                    <div class="centered">
                        <div class="container" style="text-align: center;">
                            <div class="card">
                                <div class="cardcontent">

                                    <p class="p1">Admin Login Portal</p>

                                    <p class="p2">Admin ID</p>

                                    <input style="height: 25px;" type="text" name="adminID" value="" size="25" />

                                    <p class="p2">Password</p>

                                    <input style="height: 25px;" type="password" name="password" value="" size="25" />

                                </div>
                            </div>

                            <br>

                            <div class="buttoncontainer">
                                
                                    <input type="submit" class="submit" value="Login"></input>
                                
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>
{% endblock content %}

</html>