<!DOCTYPE html>
<html>
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% include 'messages.html' %}

<body>
    <script src="firebase/firebase.js"></script>

    <div class="back-button">
        <a href="{{ request.META.HTTP_REFERER|escape }}">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <center>
        <div>
            <!-- GoLaundry logo center -->
            <div class="image-container">
                <img src="{% static 'img/Go-Laundry.png' %}" alt="Go-Laundry Logo">
            </div>

            <br>

            <!-- background -->
            <div class="image-container">
                <img src="{% static 'img/login.png' %}" alt="white" style="height:500px;border-radius:2%;">

                <form method="post">
                    {% csrf_token %}

                    <div class="centered">
                        <div class="container" style="text-align: center;">
                            <div class="card">
                                <div class="cardcontent">
                                    <p class="p1">Admin Register Portal</p>
                                    <p class="p2">Email Address</p>
                                    <input style="height: 25px;text-align:center;width: 300px;" type="text"
                                        name="email_address" id="email_address" size="25" />
                                    <p class="p2">Password</p>
                                    <input style="height: 25px;text-align:center;width: 300px;" type="password"
                                        name="password" id="password" size="25" />
                                </div>
                            </div>
                            <br>
                            <div class="loginbuttoncontainer">
                                <input type="submit" class="login" value="Register"></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>
{% endblock content %}

</html>