<!DOCTYPE html>
<html>
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% include 'messages.html' %}

<body>

    <!-- first top bar with icon -->
    <div class="top-bar">
        <img src="{% static 'img/Go-Laundry.png' %}" alt="Go-Laundry">
    </div>

    <!-- second top bar with title, menu icon and admin ID -->
    <div class="second-top-bar">
        {% include 'sideNavi.html' %}
        <!-- side menu icon -->
        <div class="sidenav-icon"><img src="{% static 'img/menu.svg' %}" alt="Sidenav Icon">
            <script>

                const sidenav = document.querySelector('.sidenav');
                const sidenavIcon = document.querySelector('.sidenav-icon');
                const closeButton = document.querySelector('.close-button');

                sidenavIcon.addEventListener('click', () => {
                    sidenav.style.left = '0';
                });

                closeButton.addEventListener('click', () => {
                    sidenav.style.left = '-350px';
                });

            </script>
        </div>
        <div class="page-title">Ratings Reports</div>
        <!-- admin id icon -->
        <div class="admin-id-icon">
            <img src="{% static 'img/admin_icon.png' %}" alt="Admin Icon">
            <div class="admin-id-popup"></div>

            <!-- when cursor pointing, show admin id -->
            <script>
                const adminIdIcon = document.querySelector('.admin-id-icon');
                const adminIdPopup = document.querySelector('.admin-id-popup');
                adminIdIcon.addEventListener('mouseenter', () => {
                    adminIdPopup.style.opacity = '1';
                    adminIdPopup.textContent = 'Admin';
                });
                adminIdIcon.addEventListener('mouseleave', () => {
                    adminIdPopup.style.opacity = '0';
                    adminIdPopup.textContent = '';
                })
            </script>
        </div>
    </div>

    <br>

    <div class="back-button">
        <a href="{{ request.META.HTTP_REFERER|escape }}">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="p3">Order ID: {{ report_details_data.orderId }}</div>
    </div>

    <div class="content-container">

        <!-- left side content -->
        <div class="left-column">

            <br>

            <div class="p4-underline">Order Details</div>

            <div class="p5-left">Laundry Shop: {{ laundry_shop_data.shopName }}</div>
            <div class="p5-left">
                <a style="color: #C0AB88;" href="{% url 'allusersLaundryDetails' laundry_shop_data.laundryId %}"
                    target="_blank">
                    View
                </a>
            </div>

            <br>

            <div class="p5-left">Rider: {{ rider_data.fullName }}</div>
            <div class="p5-left">
                <a style="color: #C0AB88;" href="{% url 'allusersRiderDetails' rider_data.riderId %}" target="_blank">
                    View
                </a>
            </div>

            <div class="left-rectangle">

                <!-- loop services -->
                {% for service, quantity in order_data.selectedServices.items %}
                <div class="service-quantity">
                    <div class="left-rectangle-service-text">{{ service }}</div>
                    <div class="left-rectangle-right-text">Qty: {{ quantity }}</div>
                </div>
                {% endfor %}

                <!-- divider -->
                <hr>

                <!-- fees -->

                <div class="p5">Laundry fee: RM {{ order_data.laundryFee }} &nbsp;</div>
                <br><br>
                <div class="p5" style="color: #C0AB88;">Membership Rate: {{ order_data.membershipDiscount }} &nbsp;
                </div>
                <br><br>
                <div class="p5">Delivery fee: RM {{ order_data.deliveryFee|floatformat:2 }} &nbsp;</div>
                <br><br>

                <!-- divider -->
                <div class="divider-container"></div>

                <!-- total -->
                <div class="p5" style="color: #C0AB88;">Total: RM {{ order_data.totalFee }} &nbsp;</div>

                <br><br><br>

            </div>

            <div class="p4-delivered">Pick up on {{ order_data.pickUpDate }} </div>

            <div class="left-rectangle2">
                {% for status_id, status_info in sorted_order_status_data %}
                    <div class="p5-left">{{ status_info.formatted_datetime }}</div>
                    <div class="divider"></div>
                    <div class="p5-left">{{ status_info.statusContent }}</div>
                {% endfor %}
            </div>
            

            <br>

            <div class="p4-underline">Note to Laundry Shop</div>

            <div class="p4">{{ order_data.noteToLaundry|default:'-' }}</div>

            <br>

            <div class="p4-underline">Note to Rider</div>

            <div class="p4">{{ order_data.noteToRider|default:'-' }}</div>


        </div>

        <!-- right side content -->
        <div class="right-column">

            <div class="p5">

                {% if report_details_data.reporterRole == "laundry" %}
                <a style="color: #C0AB88;" href="{% url 'allusersLaundryDetails' laundry_shop_data.laundryId %}"
                    target="_blank">View</a>
                {% else %}
                <a style="color: #C0AB88;" href="{% url 'allusersRiderDetails' rider_data.riderId %}"
                    target="_blank">View</a>
                {% endif %}

            </div>

            <div class="p5">Reporter:

                {% if report_details_data.reporterRole == "laundry" %}
                {{ reporter_data.shopName }}
                {% else %}
                {{ reporter_data.fullName }}
                {% endif %}
                &nbsp;

            </div>

            <br><br>

            <div class="p5">
                <a style="color: #C0AB88;" href="{% url 'allusersUserDetails' user_data.userId %}" target="_blank">
                    View
                </a>
            </div>
            <div class="p5">Customer: {{ user_data.fullName }} &nbsp;</div>

            <br>

            <div class="right-rectangle">
                <div class="p4-underline">Review Details </div>

                <div class="p4-small">From: {{ user_data.fullName }}</div>

                <div class="p4-small">Ratings:
                    {% if report_details_data.reporterRole == "laundry" %}
                    {{ rate_data.rateToLaundry }}
                    {% else %}
                    {{ rate_data.rateToRider }}
                    {% endif %}
                </div>

                <div class="p4-small">Date: {{ rate_data.dateTime }}</div>

            </div>

            <br>

            <div class="right-rectangle2">
                <div class="p4-underline">Reporter Note</div>
                <div class="scroll">
                    <div class="p4-small">{{ report_details_data.messageFromReporter }}</div>
                </div>
            </div>

        </div>

        <div class="bottombuttoncontainer">
            <input type="submit" class="accept" value="Accept"></input>
            <input type="submit" class="reject" value="Reject"></input>
        </div>
    </div>
</body>
{% endblock content %}

</html>