/* Lau Wan Jing:
https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color 
*/

/* body */
body {
  background-color: #195860;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Lau Wan Jing: https://www.w3schools.com/w3css/w3css_cards.asp -- cards*/

.card {
  border-radius: 20px;
  border: 2px solid #C0AB88;
  background: rgba(255, 255, 255, 0.70);
  width: 550px;
  height: 300px;
  flex-shrink: 0;
}

.cardcontent {
  text-align: center;
  z-index: 2;
}

.container {
  padding: 0px;
  height: auto;
}

.p1 {
  color: #134147;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p2 {
  color: #134147;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login {
  background-color: #D6EFEE;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: solid;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login:hover {
  background-color: #D6EFEE;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loginbuttoncontainer {
  height: auto;
  display: block;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* top bar with logo */
.top-bar {
  background-color: #D6EFEE;
  text-align: center;
  padding: 10px 0 0 0;
}

.top-bar img {
  display: inline-block;
  max-width: 100%;
  height: 40px;
}

/* second top bar with menu icon, title and admin ID */
.second-top-bar {
  background-color: #0C8292;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  grid-template-columns: auto 1fr auto;
}

.sidenav-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.sidenav-icon img {
  width: 25px;
  height: 25px;
}

.page-title {
  flex-grow: 1;
  text-align: center;
  color: #D6EFEE;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-id-icon {
  position: relative;
  width: 25px;
  height: 25px;
}

.admin-id-popup {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.sidenav-icon:hover+.content-container .admin-id-popup {
  opacity: 1;
  pointer-events: auto;
}

.sidenav {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -350px;
  background-color: #D6EFEE;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav-icon {
  cursor: pointer;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  margin-right: auto;
}

.close-button img {
  width: 25px;
  height: 25px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu-list li {
  margin: 20px 0;
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
}

.menu-list li i {
  margin-right: 10px;
  margin-left: 20px;
}

.menu-list li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
  padding: 5px;
  transition: color 0.3s;
  position: relative;
}

.menu-list li a:hover {
  color: #0C8292;
}

.menu-list li:last-child {
  margin-top: auto;
}

.notification-count {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #C0AB88;
  color: black;
  font-size: 20px;
  padding: 2px 7px;
  border-radius: 50%;
}

/* table for except help */
.data-table {
  margin-top: 30px;
  width: 98%;
  border-collapse: collapse;
  border: 1px solid #C0AB88;
  background-color: #f2f2f2;
  border-radius: 10px;
  /* Add border radius */
  overflow: hidden;
}

.data-table th,
.data-table td {
  border: 1px solid #C0AB88;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data-table th {
  background-color: #f2f2f2;
}

.column1 {
  width: 20%;
}

.column2 {
  width: 25%;
}

.column3 {
  width: 25%;
}

.column4 {
  width: 20%;
}

.column5 {
  width: 8%;
}

/* help message table */
.help-table {
  margin-top: 30px;
  width: 98%;
  border-collapse: collapse;
  border: 1px solid #C0AB88;
  background-color: #f2f2f2;
  border-radius: 10px;
  border-radius: 10px;
  /* Add border radius */
  overflow: hidden;
}

.help-table th,
.help-table td {
  border: 1px solid #C0AB88;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.help-table th {
  background-color: #f2f2f2;
}

.help-column1 {
  width: 20%;
}

.help-column2 {
  width: 50%;
}

.help-column3 {
  width: 18%;
}

.help-column4 {
  width: 10%;
}

.back-button {
  position: absolute;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: color 0.3s;
}

/* User details title */
.p3 {
  color: #FFF;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  display: inline;
  margin-left: 20px;
}

.details-rectangle {
  background-color: #195860;
  height: auto;
  width: 1224px;
  border: 1px solid #ffffff;
  left: 100px;
  top: 200px;
  position: absolute;
  margin-bottom: 20px;
}

/* user details */
.p4 {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
  margin-right: 40px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: block;
}

.accept {
  background-color: #D6EFEE;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: solid;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accept:hover {
  background-color: #D6EFEE;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bottombuttoncontainer {
  padding: 0;
  height: auto;
  text-align: right;
  display: inline;
  position: absolute;
  bottom: 8px;
  width: 90%;
}

.reject {
  background-color: #D82E57;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: solid;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-top: 20px;
  margin-right: 30px;
  float: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reject:hover {
  background-color: #D82E57;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.reply-container {
  display: block;
  margin-top: 20px;
  position: absolute;
}

.reply-rectangle {
  background-color: #195860;
  height: 200px;
  width: 1224px;
  border: 1px solid #ffffff;
  left: 100px;
  top: 420px;
  position: absolute;
  margin-bottom: 20px;
}

.help-rectangle {
  background-color: #195860;
  height: 150px;
  width: 1224px;
  border: 1px solid #ffffff;
  left: 100px;
  top: 200px;
  position: absolute;
  margin-bottom: 20px;
}

.reply {
  color: #ffffff;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: text-middle;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  left: 80px;
  top: 370px;
  position: absolute;
  line-height: auto;
  border-style: hidden;
  outline: none;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.left-column,
.right-column {
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.left-column {
  text-align: left;
}

.right-column {
  text-align: right;
}

.p5 {
  color: #ffffff;
  text-align: right;
  vertical-align: text-middle;
  font-size: 18px;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
  margin-top: 15px;
  display: inline;
}

.right-rectangle {
  background-color: #195860;
  height: auto;
  width: 500px;
  border: 1px solid #ffffff;
  right: 70px;
  top: 270px;
  position: absolute;
  display: block;
}

.p4-underline {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
  margin-right: 40px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: block;
}

.p4-underline {
  color: #ffffff;
  text-align: left;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: block;
  text-decoration: underline;
}

.p4-small {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 40px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: block;
}

.right-rectangle2 {
  background-color: #195860;
  height: auto;
  width: 500px;
  border: 1px solid #ffffff;
  right: 70px;
  top: 470px;
  position: absolute;
  display: block;
}

.p5-left {
  color: #ffffff;
  text-align: left;
  vertical-align: text-middle;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
  margin-left: 20px;
  display: inline;
}

.left-rectangle {
  background-color: #195860;
  height: auto;
  width: 590px;
  border: 1px solid #ffffff;
  left: 40px;
  top: 320px;
  margin: 30px;
  display: block;
}

.left-rectangle2 {
  background-color: #195860;
  width: 550px;
  border: 1px solid #ffffff;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  padding: 20px;
}

.divider {
  background-color: #ffffff;
}

.left-rectangle-service-text {
  color: #ffffff;
  text-align: left;
  vertical-align: text-middle;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: hidden;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
}

.left-rectangle-right-text {
  color: #ffffff;
  text-align: right;
  vertical-align: text-middle;
  font-size: 18px;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: inline;
  padding: 15px;
}

hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 20px 0;
}

.divider-container {
  position: relative;
  width: 100%;
  height: 0.5px;
  margin: 20px 0;
  clear: both;
}

.divider-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.divider-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
}

.p4-delivered {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
  margin-right: 40px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  display: absolute;
}

div.scroll {
  width: 500px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.tab {
  overflow: hidden;
  background-color: #134147;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  display: inline;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #195860;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #195860;
}

.subtitle-container {
  text-align: center;
  margin-bottom: 20px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 500px;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 20px;
}

.search-button {
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: 10px;
}

.search-button img {
  width: 25px;
  height: 25px;
}

.red-text {
  color: red;
}