/* Lau Wan Jing:
https://www.tutorialspoint.com/How-to-set-background-color-in-HTML -- Add background color 
*/

/* body */
body {
  background-color: #195860;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Lau Wan Jing: https://www.w3schools.com/w3css/w3css_cards.asp -- cards*/

.card {
  border-radius: 20px;
  border: 2px solid #C0AB88;
  background: rgba(255, 255, 255, 0.70);
  width: 550px;
  height: 300px;
  flex-shrink: 0;
}

.cardcontent {
  text-align: center;
  z-index: 2;
}

.container {
  padding: 0px;
  height: auto;
}

.p1 {
  color: #134147;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p2 {
  color: #134147;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit {
  background-color: #D6EFEE;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: solid;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit:hover {
  background-color: #D6EFEE;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttoncontainer {
  height: auto;
  display: block;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}